*{
    margin: 0; 
}

.container{
    padding: 0 15%;
    width: 70vw;
}

.grid{
    display: grid;
    gap: 10px;
    /* grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(4, 200px); */
    
}
/* ajustar linhas  */
.linha{
    grid-template-rows: repeat(4, 200px);
}

.coluna{
    grid-template-columns: 1fr 1fr 1fr;
}

.coluna-2{
    grid-template-columns: 1fr 2fr;
}

.coluna-3{
    grid-template-columns: 2fr 1fr;
}

.box{
    height: 100%;
    width: 100%;

    margin: 10px;

    text-align: center;
    align-content: center;
    background-color: #159A9C;
    
}